@charset "utf-8";
/* CSS Document */
			body {
			    background-color: white;
		}
			div.infotxt {
				background-color: darkgray;
				padding: 10px;
				border-radius: 0px;
				width: 250px;
				margin-bottom: 5px;
		}
			div.infotxtstuff {
				background-color: darkgray;
				padding: 10px;
				border-radius: 0px;
				width: 500px;
				margin-bottom: 5px;
				border-bottom-right-radius:50px;
		}
			div.infolink {
				float: left;
				background: darkgray;
				padding: 10px;
				border-radius: 0px;
				width: 112px;
				margin-bottom: 5px;
				margin-right: 6px;
    			-moz-transition: all .2s ease-in;
    			-o-transition: all .2s ease-in;
   				-webkit-transition: all .2s ease-in;
				transition: all .2s ease-in;
		}
			.infolink:hover{
				background: #FFA4C9;
		}
			div.infocon {
				width: 500px;
				position: relative;
				margin-left: 10%;
				margin-top: 5%;
				padding-bottom: 250px;
		}	
			div.botlinkscon {
				width: 280px;
		
		}
		
			p.gen1 {
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-size: 14px;
				color: white;
				text-align: right;
				padding: 5px;
				line-height: 1.4;
		}
		
			p.gen2 {
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-weight: bold;
				font-size: 14px;
				color: white;
				text-align: right;
		}
			ul.gen1 {
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-size: 14px;
				color: white;
				text-align: right;
				padding: 5px;
				line-height: 1.4;
				list-style: none;
		}
			ul.gen1 li::before {
  				content: "\2022";
				color: #A7C7E7;
  				font-weight: bold;
  				display: inline-block;
  				width: 1em;
  				padding: 5px;
}
		
			p.head {
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-size: 20px;
				font-weight: bold;
				color: darkgray;
				padding-top: 20px;
				padding-left: 140px;
				line-height: 2.5;
		}

			#background {
			    position: fixed;
  				top: 0px;
 				left: 0px;
 				width: 5%;
 				height: 100%;
 				background-color: #A4FFC8;
 				z-index: -10;
		}

			a:link, a:visited, a:hover, a:active {
				text-decoration: none;
		}
		
			div.bcon{
				position: fixed;
				z-index: 1;
				margin-left: 14.5%;
				margin-top: 30%;
				width: 500px;
		}
			select {
				margin-top: 15px; margin-left: 20px;
		}
			
			#myhead {
				height: 100px; width: 100px;
				position: absolute;
				padding-left: 20px;
				z-index: 1;
		}

			#myhead2 {
				height: 100px; width: 100px;
				position: absolute;
				padding-left: 20px;
				top: -40px;
				z-index: 1;
		}
			
			div.iframeround{
				border-bottom-right-radius: 15px;
				width: 495px;
				height: 275px;
				overflow: hidden;
				padding-left: 2px;
		}
			div.smallimgcon{
				display:flex;
				justify-content: space-between;
				
				
		}
			div.iframeroundsmall{
				border-bottom-right-radius: 15px;
				width: 245px;
				height: 138px;
				overflow: hidden;
		}
			div.kneelingme{
				position:absolute;
				padding-left: 520px;
				padding-top: 1100px;
				z-index: -1;
		}
			a.inlinelink:link, a.inlinelink:visited {
				color:#A4FFC8;
	
		}
			a.inlinelink:hover{
				color:#FFA4C9;
				-moz-transition: all .2s ease-in;
    			-o-transition: all .2s ease-in;
   				-webkit-transition: all .2s ease-in;
				transition: all .2s ease-in;
		}
