@charset "utf-8";
/* CSS Document */

body {
	background-color: #AFAFAF;
}

div.container{
	margin-left: 8%;
	height: 500px;
	position: absolute;
	bottom: 10%;
}

div.main {
	height: 525px;
	width: 300px;
		background: linear-gradient(
    	to right,
    	#c4ffed 0px,
		#c4ffed 15px,
		white 15px,
		white 100%
  );
	border-radius: 10px;
	box-shadow: 8px 8px grey;
	float:left;
}

div.animation {
	height: 525px;
	width: 1415px;
		background: linear-gradient(
    	to right,
    	#c4ffed 0px,
		#c4ffed 15px,
		white 15px,
		white 1400px,
		#ffdbfe 1400px,
		#ffdbfe 1415px
  );
	border-radius: 10px;
	box-shadow: 8px 8px grey;
	float:left;
	margin-right: 20px;
}
div.portfoliocon{
	display: flex;
	height:425px;
}

div.portfolio{
	display: flex;
	flex-direction: column;
	margin-left:25px;
	height: inherit;
	width: 321px;
}

div.socials {
	position:relative;
	padding-top: 15px;
	padding-left: 50px;
}

div.imgcircle {
	margin-left:190px;
	position: absolute;
	bottom: -4%;
}

div.flexcon{
	height: 525px;
	width: 100px;
	float: left;
	display: flex;
	flex-direction: column;
	margin-left: 12px;
}

div.email{
	background-color: white;
	margin-bottom: 10px;
	width: 100px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
   	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	box-shadow: 5px 5px grey;
}

.email:hover{
	background: #ffdbfe;
	border-radius: 5px;
	font-weight: bold;
}

div.buttons{
	background-color: white;
	height:75px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
   	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	box-shadow: 5px 5px grey;
}

.buttons:hover{
	background: #ffdbfe;
	border-radius: 5px;
	font-weight: bold;
}

p.head {
	font-family: 'Open Sans';
	font-size: 22px;
	color: grey;
	padding-left: 25px;
	font-weight: bold;
}

p.main {
	font-family: 'Open Sans';
	font-size: 15px;
	color: gray;
	padding-left: 25px;
	padding-right: 20px;
	text-align: justify;
}

p.backbutton {
	font-family: 'Open Sans';
	font-size: 15px;
	color: #ffdbfe;
	text-align: justify;
	position:absolute;
	margin-top: auto;
	padding-left: 25px;
}

p.email {
	font-family: 'Open Sans';
	font-size: 15px;
	color: gray;
	margin-top:0px;
	text-align: center;
	font-style: italic;
	
}

p.button {
	font-family: 'Open Sans';
	font-size: 15px;
	color: gray;
	margin-top:0px;
	font-style: italic;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}